.home-section {
  .carousel {
    position: relative;

    .rec.rec-arrow {
      background-color: aliceblue;
      color: black;
      z-index: 2;
    }

    .rec.rec-arrow-right {
      position: absolute;
      right: 60px;
    }

    .rec.rec-arrow-left {
      position: absolute;
      left: 60px;
    }

    img {
      width: 960px;
      height: 500px;
      object-fit: cover;
    }
  }
}
